
.container {
  position: relative;
  text-align: center;
  color: white;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login_form{
   background-image: url('../resource_files/bgnoise_lg.png');

}
body{
  padding: 100;

}